/* DANI */

.home {
  background-color: #1c2127;
  max-width: 100%;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.float-button {
  position: fixed;
  right: -77px;
  top: 270px;
  transition: all 0.2s ease-in 0s;
  z-index: 9999;
  cursor: pointer;
}

.float-button:hover {
  right: -7px;
}

.blah {
  margin-right: 5%;
  margin-left: 2%;
}

.gif {
  box-shadow: 0px 0px 50px rgb(73, 73, 73);
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: #1c2127;
  border: 3px solid white;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.feedback {

  writing-mode: vertical-rl;
  color: #fff;
  font-weight: bold;
  text-orientation: mixed;
  position: fixed;
  bottom: 60px;
  padding: 10px 10px;
  right: 1px;
  border: 2px solid white;
  background-color: rgb(38, 138, 178);
}

.feedback:hover {
  color: white;
  background-color: rgb(247, 162, 5);
  box-shadow: 0 5px 15px orangered;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: purple;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start
}

th,
td {
  padding-right: 70px;
  padding-bottom: -5px;
}

table {
  border-collapse: collapse;
  margin-top: 5px;
}

table tr {
  border-spacing: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #1c2127;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #1c2127;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #1c2127;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #1c2127;
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #1c2127;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width:800px) {
  nav {
    /* position: relative; */
  }

  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #1c2127;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}

@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

/* ROHIT */

.text-box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.text-box {
  width: calc(50% - 20px - 5px);
  height: 300px;
  border-radius: 10px;
  box-sizing: border-box;
}

.center-heading {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.text-box.left-text-box {
  background-color: #E0DAF8;
  margin-right: 50px;
  padding: 20px;
  margin-left: 100px;
}

.text-box.right-text-box {
  background-color: #AFE5FB;
  margin-left: 50px;
  padding: 20px;
  margin-right: 100px;
}

.normal-text {
  font-weight: normal;
}

.text-box h5 {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: "Ely Rounded", sans-serif;
  font-weight: normal;
}

.text-box h3 {
  font-family: "CA Cula", sans-serif;
  font-weight: normal;
}

.yama {
  font-weight: normal;
}

.purple-button {
  background-color: #3B2E57;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.blue-button {
  background-color: #007ACC;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

.left-text-box {
  margin-right: 5px;
}

.info-img {
  display: block;
  margin-top: 20px;
  margin-left: 100px;
  width: 400px;
  /* Set the width of the image */
  height: auto;
  /* Maintain the aspect ratio */
}

.center {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
  margin: 0 40px;
  /* Increased margin from both sides */
  font-family: "Intro Head", sans-serif;
  /* Set font family to "Intro Head" */
  font-weight: lighter;
  /* Set font weight to normal */
}

.center-button {
  background-color: #3B2E57;
  /* Purple color for button */
  color: white;
  /* White text color */
  border: none;
  border-radius: 5px;
  /* Rounded corners */
  padding: 10px 20px;
  /* Adjust padding */
  font-size: 16px;
  /* Adjust font size */
  cursor: pointer;
  display: block;
  /* Ensure the button is displayed as a block element */
  margin: 20px auto;
  /* Center the button horizontally with top and bottom margin */
}


/* VAGA */

.section-vaga {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(56, 49, 81, 1) 57%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  color: white;
}

.item-vaga {
  display: flex;
  width: 1130px;
  height: 550px;

}



.text-vaga {
  background-color: black;
  border-radius: 0 32px 32px 0;
  padding: 48px 32px;
}

.img-vaga {
  border-radius: 32px 0 0 32px;
}

.feature-vaga {
  width: 70px;
  /* height: 30px; */
  background-color: #4ea64e;
  color: black;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  /* padding-top: 4px; */
  letter-spacing: 0.3px;
  font-weight: 500;
}

.heading-vaga {
  padding-top: 32px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 16px;
}

.content-vaga {
  padding-bottom: 32px;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 500;
}

.btn-vaga {
  width: 240px;
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 16px;
  font-size: 17px;
  font-weight: 600;
  transition: 1s all ease-in-out;
}

.btn-vaga:hover {
  color: white;
  background-color: navy;
  cursor: pointer;
}

/* SUBHA */

.heading {
  width: 50%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: left;
  font-family: Arial, sans-serif;
}

.container-s {
  max-width: 90%;
  margin-top: 20px;
  background: white;
  overflow: auto;
}

.gallery {
  margin: 5px;
  width: 500px;
  float: left;
  position: relative;
}

.gallery img {
  width: 100%;
  height: auto;
}


.desc {
  padding: 15px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87%;
  background-color: rgba(0, 0, 0, 0);
  /* Initially transparent */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background on hover */
  opacity: 1;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  /* Initially transparent */
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 18px;
}

.gallery:hover .hello {
  opacity: 1;
}



.img_deg {
  width: 40%;
}

.pos_cen {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.description {
  margin-left: 60px;
  font-family: Arial, sans-serif;
}

.section-subha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* JAI */

.primaryflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 65%;
  padding: 0 128px;
}

.jaitop {
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 25.8px;
  color: #191919;
  margin-left: -33%;
  font-weight: 450;
}

.jaibottom {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #191919;
  line-height: 1.5;
  padding-bottom: 16px;
}

.primaryflex img {
  width: 180px;
  height: 180px;
  border: 2px solid #00000036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.primaryflex img:hover {
  transform: scale(1.03);
}


/* ANISH */
.container-anish {
  max-width: 1000px;
  margin: 0 20px;
  padding: 0 20px;
}

.footer {
  /* position: absolute; */
  bottom: 40px;
  background-color: white;
  color: #fff;
  padding: 30px 0;
  display: table;
  width: 100%;
  padding-bottom: 0;
}

.footer-row {
  display: table-row;
}

.footer-col {
  display: table-cell;
  vertical-align: top;
  padding: 0 33px;
  box-sizing: border-box;
  padding: -60px 33px;
}

.footer-col h4 {
  color: #616161;
  margin-bottom: 20px;
  font-size: 13px;
}

.footer-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 20px;
  font-size: 10px;
  white-space: nowrap;
}

.footer-col ul li a {
  color: rgba(7, 6, 6, 0.68);
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.links {
  /* position: absolute; */
  right: 100px;
  bottom: -20px;
  font-size: 10px;
}

.links a {
  color: rgba(7, 6, 6, 0.68);
  margin-left: 10px;
  text-decoration: none;
}

.links {
  list-style-type: none;
  line-height: 25px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(7, 6, 6, 0.68);
  word-spacing: 35px;
  margin-top: 80px;
  font-size: 10px;
  margin-left: -170px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;


}

.logo1 {
  max-width: 20px;
  height: auto;
  margin-bottom: 0;
  margin-top: 80px;
}

.logo2 {
  max-width: 40px;
  height: auto;
  margin-bottom: 5px;
}

.hype-wrapper {
  display: flex;
  align-items: center;
  /* Align items vertically */
  flex-wrap: nowrap;
}

.hypen {
  color: rgba(7, 6, 6, 0.68);
  text-decoration: none;
  font-size: 10px;
}

.hypen a {
  text-decoration: none;
}

.hypen a:hover {
  text-decoration: underline;
}